{% extends "base.html" %}

{% block head %}
<style>
tr.show_more {
    cursor: pointer;
}

#more_info{
  display: none;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
</style>
{% endblock %}

{% block content %}
  <!-- Example row of columns -->
  <br />
  <h2> Smartsubmit Files </h2>
  <p> Below we have a list of every file in the smartsubmit system. Click on a sample name to get the list of the files in that sample.</p>
  <div class="row">
  <div class="col-lg-12">
    <table class="table-striped" style="width: 100%">
        <tr>
          <td style="width: 40%"><strong>Name</strong></td>
          <td style="width: 30%"><strong>Number of Files</strong></td>
          <td style="width: 30%"><strong>Sample Size</strong></td>
        </tr>
      {% for s in sample_list %}
          <tr class="show_more" id="tr_{{ s.name }}">
            <td style="width: 40%">{{ s.name }}</td>
            <td style="width: 30%">{{ s.count }}</td>
            <td style="width: 30%"><script>document.write(getReadableFileSizeString({{ s.size }}))</script></td>
          </tr>
        {% endfor %}
    </table>
  </div>
  </div>
    <br>
    <h3> Detailed Info </h3>
    <p> Click above to show the files for a particular sample </p>
    <hr>
</div>
<div class="container-fluid">
  <div class="row">
    <table class="table-striped table-fixed" id="more_info" style="width: 100%; cellpadding: 20px">
        <thead>
        <tr>
          <th class="col-xs-2"><strong>File Name</strong></th>
          <th class="col-xs-2"><strong>Size</strong></th>
          <th class="col-xs-4"><strong>Local Directory</strong></th>
          <th class="col-xs-4"><strong>Hadoop Directory</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr style="display: none"></tr>
      </tbody>
      </table>
  </div>
</div>

  <script type="text/javascript">

  function addRow(fname, ldir, hdir, size){
    $('#more_info tr:last').after("<tr>\
      <td class='col-xs-2'>"+ fname +"</td>\
      <td class='col-xs-2'>"+ getReadableFileSizeString(size) +"</td>\
      <td class='col-xs-4'>"+ ldir +"</td>\
      <td class='col-xs-4'>"+ hdir +"</td>\
      </tr>");
  }


  function fillDetails(rows) {
    for (var i in rows) {
      var fname = rows[i][0];
      var ldir = rows[i][3]+":"+rows[i][1]; //Machine:Local Directory
      var size = rows[i][4] //Machine:Local Directory
      var hdir = rows[i][2]; //Hadoop Directory

      addRow(fname, ldir, hdir, size);
    }
  }

  function cleanTable(){
    $("#more_info:not(:first)").remove()
  }

  $(".show_more").click(function(){
    var sample_name = $(this).attr("id").substring(3);

    $("#more_info tr:not(:first)").remove()

    $.getJSON("/get_sample_files/"+sample_name+".json", function(data) {
      fillDetails(data);
    });
    $("#more_info").show()
  })

  $(".sample_size").innerHTML=getReadableFileSizeString($(this).innerHTML)

  </script>
<div class="container">
{% endblock %}