{% extends "base.html" %}

{% block jumbo %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background: green">
  <div class="container">
    {% if alive %}
    <h1 class="text-center"> Server is <span class="bg-success">Alive</span></h1>
    {% else %}
    <h1 class="text-center"> Server is <span class="bg-danger">Down</span></h1>
    {% endif %}
  </div>
</div>
{% endblock %}



{% block content %}
  <!-- Example row of columns -->
  <br />
  <h2>Smartsubmit Logs</h2>
  <p>Below we have a list of the last 20 Uptime checks for smartsubmit.</p>
  <div class="row">
  <div class="col-lg-12">
    <table class="table-striped" style="width: 100%">
        <tr>
          <td style="width: 50%"><strong>Date</strong></td>
          <td style="width: 50%"><strong>Status</strong></td>
        </tr>
      {% for u in up_list %}
          <tr>
            <td style="width: 50%">{{ u[0] }}</td>
            <td style="width: 50%">{{ u[1] }}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}